@model Trip
@{
	string title = ViewBag.Action; ViewData["Title"] = title;
}
<form asp-action="Page" method="post" class="align-content-start">
	<div class="mb-3">
		<label asp-for="AccommodationPhone" class="form-label">Phone Number <br /></label>
		<input asp-for="AccommodationPhone" class="form-control">
	</div>
	<div class="mb-3">
		<label asp-for="AccommodationEmail" class="form-label">Email Address <br /></label>
		<input asp-for="AccommodationEmail" class="form-control">
	</div>
	<button type="submit" asp-route-id="3" class="btn btn-dark text-white">Next</button> 
	<a asp-controller="Home" asp-action="Cancel" class="btn border rounded btn-white">Cancel</a>
</form>